body {
  background-color: tan;
  font-family: sans-serif;

}
h1 {
  font-size: 25px;
}
h1, h3 {
  color: green;
  font-family: cursive;

}

h3 {
  color: saddlebrown;
}
.tea {
  color: green;
}
.coffee {
  color: rgb(110, 19, 19);
}
#special {
  color: brown;
}
span {
  color: green
}
